body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #fcd752;
}



.logo{
    height: 110px;
    width: 130px;
}
#navbar{
    background-color: #31383f;
    height: 105px;
    width: 100%;  
    display: flex;
    justify-content: space-around;
    align-items:center;
    text-align: center;
}
.searchbar{
    height: 105px;
    size:100%;
    display: flex;
    align-items: center;
}
.recherche{
    height: 40%;
    border-radius: 15px;
    width: 300px;
}
.compte{
    height: 110px;
    width: 130px;
    display: flex;
    align-items: center;
    }
.profil{
        border-radius: 100%;
        height: 100px;
        width: 100px;
        background-image: url("../CSS/3201587-200.png");
        background-size: 100%;
    }
    .inscription{
        display: flex;
        align-items: center;
        justify-content: center;
    }
.info{
    padding: 5%;
    border: 2px solid black;
}
.inscr{
    background-color: #fcd752;
    border: 1px solid black;
    border-radius: 15px;
    height:5vh;
    width:10vh;
}

#themebar{
    position: absolute;
    height: 100%;
    width: 90px;
}

#button_environement{
    /* position: absolute; */
    background-color: rgb(41, 160, 41);
    border-radius: 50px;
    font-size: 15px;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 50px;
    width: 200px;
    left: 20%;
    top: 20%;
}
#allpost{
    margin-top:3%;
    display: flex;
    justify-content: center;
}

#button_sport{
    /* position: absolute; */
    background-color: rgb(160, 92, 41);
    border-radius: 50px;
    font-size: 20px;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 50px;
    width: 200px;
    left: 35%;
    top: 20%;
}
#theme{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 2;
    height: auto;
}
#button_tech{
    /* position: absolute; */
    background-color: rgb(125, 143, 144);
    border-radius: 50px;
    font-size: 19px;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 50px;
    width: 200px;
}
.jeu{
    background-image: url("../CSS/528088.png");
    background-size:100%;
    background-color: #fcd752;
    border: 1px solid black;
    border-radius: 15px;
    height:10vh;
    width:10vh;
}
#button_jeuxvid{
    /* position: absolute; */
    background-color: rgb(79, 39, 158);
    border-radius: 50px;
    font-size: 19px;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 50px;
    width: 200px;
    left: 65%;
    top: 20%;
}

#button_saféréfléchir{
    /* position: absolute; */
    background-color: rgb(160, 41, 148);
    border-radius: 50px;
    font-size: 15px;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 50px;
    width: 200px;
    left: 20%;
    top: 30%;
}

#button_autre{
    /* position: absolute; */
    background-color: rgb(166, 249, 238);
    border-radius: 50px;
    font-size: 15px;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 50px;
    width: 200px;
    left: 65%;
    top: 30%;
}

#button_music{
    /* position: absolute; */
    background-color: rgb(59, 14, 55);
    border-radius: 50px;
    font-size: 15px;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 50px;
    width: 200px;
    left: 50%;
    top: 30%;
}
.buttontheme{
    margin: 1%;
}
.post{
    display: flex;
    justify-content: center;
    width:80vw;
    background-color: grey;
}
#button_humour{
    /* position: absolute; */
    background-color: rgb(224, 20, 207);
    border-radius: 50px;
    font-size: 15px;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 50px;
    width: 200px;
    left: 35%;
    top: 30%;
}

#post{
    margin-top:5%;
    display:flex;
    justify-content: center;
}

#button_createPost{
    margin-top:5%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 62, 62);
    border-radius: 50px;
    font-size: 15px;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 80px;
    width: 300px;
}

#contentPost{
    position: absolute;
    height: 300px;
    width: 600px;
    resize: none;
}
#ball_envoyer{
    position: absolute;
    height: 100px;
    width: 110px;
}
#ball_envoyer:hover{
    animation: shake 1.25s cubic-bezier(.36,.07,.19,.97)  infinite; 
}


@font-face {
    font-family: 'Pokemon';
    src: url("../CSS/Pokemon\ Classic.ttf");
}
@font-face {
    font-family: 'GreconianRegular';
    src: url("../CSS/Greconian.ttf");
}

@keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
}