body{
    background-color: #fcd752;
    padding:0;
    margin:0;
    height: max-content;
}
h1{
    margin-top: 1%;
    text-align: center;
    background-color: beige;
    border-radius: 10px;
    margin-bottom: 0;
}
h2{
    margin-top: 1%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 0;
}
.ajoutfile{
    margin-top:2%;
}
.reaction{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.posts{
    margin: 1%;
    border-radius: 10px;
    padding:0.5%;
}
.MesPost{
    display: flex;
    justify-content: center;
}
.logo{
    height: 110px;
    min-height: 110px;
    width: 130px;
    min-width: 130px;
}
.boutonlogo{
    background-color: #31383f;
    border:2px #31383f;
}
.posts{
    height: 20vh;
    width: 20vw;
    background-color: white;
}
#navbar{
    padding-top: 0.5%;
    background-color: #31383f;
    height: 105px;
    width: 100%;  
    display: flex;
    justify-content: space-around;
    align-items:center;
    text-align: center;
}
.searchbar{
    height: 105px;
    size:100%;
    display: flex;
    align-items: center;
}
.recherche{
    height: 40%;
    border-radius: 15px;
    width: 300px;
}
.compte{
    height: 110px;
    width: 130px;
    display: flex;
    align-items: center;
    }
.profil{
        border-radius: 100%;
        height: 100px;
        width: 100px;
        background-image: url("../CSS/3201587-200.png");
        background-size: 100%;
}
.inscription{
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
padding: 5%;
border: 2px solid black;
}
.Profil{
    display: flex;
    padding: 5%;
    justify-content: center;
}
.informations{
    padding: 5%;
    border: 2px solid black;
}
.inscr{
display: block;
    background-color: #fcd752;
    border: 1px solid black;
    border-radius: 15px;
    height:5vh;
    width:10vh;
}
.theme{
    height:10%;
    width:25%;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: red;
    border-radius: 5px;
}
#themebar{
    position: absolute;
    height: 100%;
    width: 90px;
}

#button_environement{
    padding-left: 3%;
    padding-right: 3%;
    /* position: absolute; */
    background-color: rgb(41, 160, 41);
    border-radius: 50px;
    font-size: 100%;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 10vh;
    width: 20vw;
}
#allpost{
    margin-top:3%;
    display: flex;
    justify-content: center;
}

#button_sport{
    padding-left: 3%;
    padding-right: 3%;
    /* position: absolute; */
    background-color: rgb(160, 92, 41);
    border-radius: 50px;
    font-size: 100%;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 10vh;
    width: 20vw;
}
#theme{
    display:flex;
    justify-content: center;
    align-items: space-around;
    text-align: center;
    row-gap: 2;
    height: auto;
}
.createComms{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.text-commentaire{
    display: flex;
    justify-content: center;
    align-items: center;
}
#button_tech{
    padding-left: 3%;
    padding-right: 3%;
    /* position: absolute; */
    background-color: rgb(125, 143, 144);
    border-radius: 50px;
    font-size: 100%;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 10vh;
    width: 20vw;
}
.jeu{
    background-image: url("../CSS/528088.png");
    background-size:100%;
    background-color: #fcd752;
    border: 1px solid black;
    border-radius: 15px;
    height:10vh;
    width:10vh;
}
#button_jeuxvideo{
    padding-left: 3%;
    padding-right: 3%;
    /* position: absolute; */
    background-color: rgb(79, 39, 158);
    border-radius: 50px;
    font-size: 100%;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 10vh;
    width: 20vw;
}

#button_reflexion{
    padding-left: 3%;
    padding-right: 3%;
    /* position: absolute; */
    background-color: rgb(160, 41, 148);
    border-radius: 50px;
    font-size: 100%;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 10vh;
    width: 20vw;
}
.envoyerpost{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 20vh;
}
#envoyer{
    height: 10vh;
    width: 20vh;
}
#button_autre{
    padding-left: 3%;
    padding-right: 3%;
    /* position: absolute; */
    background-color: white;
    border-radius: 50px;
    font-size: 100%;
    font-family: "Pokemon";
    color: black;
    outline:2px #31383f;
    height: 10vh;
    width: 20vw;
}

#button_music{
    padding-left: 3%;
    padding-right: 3%;
    /* position: absolute; */
    background-color: rgb(59, 14, 55);
    border-radius: 50px;
    font-size: 100%;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 10vh;
    width: 20vw;
}
.buttontheme{
    margin: 1%;
}
.post{
    margin: 1%;
    display: flex;
    justify-content: center;
    
} 
#button_humour{
    padding-left: 3%;
    padding-right: 3%;
    /* position: absolute; */
    background-color: rgb(224, 20, 207);
    border-radius: 50px;
    font-size: 100%;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 10vh;
    width: 20vw;
}

#post{
    margin-top:5%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#button_createPost{
    margin-top:5%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 62, 62);
    border-radius: 50px;
    font-size: 15px;
    font-family: "Pokemon";
    color: beige;
    outline:2px #31383f;
    height: 10vh;
    width: 20vw;
}
.alignementpost{
    display:flex;
    justify-content: space-around;
}
#contentPost{
    /* position: absolute; */
    height: 60%;
    width: 80%;
    resize: none;
}

#ball_envoyer{
    /* position: absolute; */
    height: 100px;
    width: 110px;
}
#ball_envoyer:hover{
    animation: shake 1.25s cubic-bezier(.36,.07,.19,.97)  infinite; 
}
.cross{
    position: absolute;
    left:90%

}
.fermer{
    background-color:red ;
    color: white;
    border:2px red;
    border-radius: 30%;
    text-align: center;
    width:2.5vw;
    height: 5vh;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity .4s;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility: visible;
    opacity: 1;

}
.comment{
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    width:80%;
}

.popup{
    text-align: center;
    margin: 6rem auto;
    padding: 2rem;
    background: #fcd752;
    border-radius: 5px;
    width: 45%;
    height: auto;
    min-height: 75%;
    position: relative;
    transition: all 0.4s ease-in-out;
}

#Deconnexion{
    position: absolute;
    visibility: hidden;
}


@font-face {
    font-family: 'Pokemon';
    src: url("../CSS/Pokemon\ Classic.ttf");
}
@font-face {
    font-family: 'GreconianRegular';
    src: url("../CSS/Greconian.ttf");
}

@keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
}