body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #fcd752;
}

.logo{
    height: 110px;
    width: 130px;
}
#navbar{
    background-color: #31383f;
    height: 105px;
    width: 100%;  
    display: flex;
    justify-content: space-around;
    align-items:center;
    text-align: center;
}
.searchbar{
    height: 105px;
    size:100%;
    display: flex;
    align-items: center;
}
.recherche{
    height: 40%;
    border-radius: 15px;
    width: 300px;
}
.compte{
    height: 110px;
    width: 130px;
    display: flex;
    align-items: center;
    }
.profil{
        border-radius: 100%;
        height: 100px;
        width: 100px;
        background-image: url("../CSS/3201587-200.png");
        background-size: 100%;
    }
    .inscription{
        display: flex;
        align-items: center;
        justify-content: center;
    }
.info{
    padding: 5%;
    border: 2px solid black;
}
.inscr{
    background-color: #fcd752;
    border: 1px solid black;
    border-radius: 15px;
    height:5vh;
    width:10vh;
}
.Retour{
    background-color: #fcd752;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:10vh;
    width:20vh;
}
#retour{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}